<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<h1>List of Event Tags</h1>
<% @events.each do |event| %>
<p><%= event.tag %></p>
<p><%= link_to "Event", event_path(event.id) %></p>
<% end %>

<%= form_for @event do |f| %>
  <%= f.label :tag %>
  <%= f.text_field :tag %>

  <%= f.label :start_time %>
  <%= f.text_field :start_time %>

  <%= f.label :end_time %>
  <%= f.text_field :end_time %>
  <%= f.submit %>
<% end %>